@model IEnumerable<TechTruffleShuffle.Models.BlogPost>
@{
	ViewBag.Title = "Blogs";
}

<div class="container" align="left">
	<h2>Blogs</h2>
	<p>
		<button class="btn btn-primary" id="search-blog-button">Search</button>
		<select id="searchCategoryDropList" required>
			<option value="none" disabled="disabled" selected="selected">Search </option>
			<option value="title">Title</option>
			<option value="date">DatePosted</option>
			<option value="author">Author Name </option>
			<option value="hashtag">#Hashtag</option>
		</select>
		<input type="text" id="searchCategoryInput" />
		<button class="btn btn-primary" id="clear-filters-button">Clear Filters</button>
	</p>
</div>
<div class="container">
	<div class="allBlogs">
	</div>
	<div class="filteredBlogs"></div>
</div>

@*this was when we were building them into the mvc. we have since switched it to ajax*@
@*@foreach (var blogPost in Model)
	{
		<p>@blogPost.Title</p>
		<p>By
			@blogPost.User.FirstName
			@blogPost.User.LastName
			@blogPost.DateStart.ToShortDateString()
		</p>
		<p>
			@foreach (var hashtag in blogPost.Hashtags)
			{
				@hashtag.HashtagName
				@:&nbsp;
			}
		</p>
		<p>@blogPost.BlogContent</p>
		<p><button class="btn btn-danger" id="adminEditBlogPost(@blogPost.BlogPostId)Btn">Edit Blog Post</button></p>
		<p><button class="btn btn-danger" id="adminDeleteBlogPost(@blogPost.BlogPostId)Btn">Delete Blog Post</button></p>
	}*@