@model IEnumerable<TechTruffleShuffle.Models.BlogPost>
@{
	ViewBag.Title = "Blogs";
}

<div class="container">
	<h1 align="center" style="font-size:45px; font-weight:bolder">Tech Truffle Shuffle: It's What We Do</h1>
	<hr /><br />
	<p align="center">
		<select id="searchCategoryDropList" required  style="height:30px; width:150px">
			<option value="none" disabled="disabled" selected="selected">Search </option>
			<option value="title">Title</option>
			<option value="author">Author Name </option>
			<option value="hashtag">#Hashtag</option>
		</select>
		<input type="text" id="searchCategoryInput" style="height:30px; width:200px" />
	</p>
	<p align="center">
		<button class="btn btn-primary" id="search-blog-button" style="width:100px">Search</button>
	</p>
	<p align="center">
		<button class="btn btn-link" id="clear-filters-button" style="width:100px">Clear Filters</button>
	</p>
	<div><hr/></div>
</div>
<div class="container">
	<div class="allBlogs">
	</div>
	<div class="filteredBlogs"></div>
</div>

@*this was when we were building them into the mvc. we have since switched it to ajax*@
@*@foreach (var blogPost in Model)
	{
		<p>@blogPost.Title</p>
		<p>By
			@blogPost.User.FirstName
			@blogPost.User.LastName
			@blogPost.DateStart.ToShortDateString()
		</p>
		<p>
			@foreach (var hashtag in blogPost.Hashtags)
			{
				@hashtag.HashtagName
				@:&nbsp;
			}
		</p>
		<p>@blogPost.BlogContent</p>
		<p><button class="btn btn-danger" id="adminEditBlogPost(@blogPost.BlogPostId)Btn">Edit Blog Post</button></p>
		<p><button class="btn btn-danger" id="adminDeleteBlogPost(@blogPost.BlogPostId)Btn">Delete Blog Post</button></p>
	}*@