@model TechTruffleShuffle.Models.StaticPage
@{
    ViewBag.Title = "CreateStaticPage";
}
<head>

</head>
<h2>Create Static Page</h2>

<div class="container">
    <div>
        @using (Html.BeginForm("CreateStaticPage", "Home"))
        {
            <div class="col-xs-12 col-sm-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Create Static Page</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                           @Html.TextBoxFor(m=>m.Title, new { @class = "form-control", @placeholder = "Enter Title Here" })
                           @Html.ValidationMessageFor(m=>m.Title,null, new { @class = "error" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter Description Here" })
                            @Html.ValidationMessageFor(m => m.Description, null, new { @class = "error" })
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(m =>m.Content, new { @class = "form-control", @id = "blogtextarea" })
                            @Html.ValidationMessageFor(c => c.Content, null, new { @class = "error" })
                        </div>
                        <input type="submit" class="btn-danger"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

